{% extends 'base.html' %}
{% block centro %}
    <main>
        <h3>Gostos</h3>
        <ul>
            {% for x in Gostos %}
                <li>{{x.nome}}({{x.descricao}}), ranking: {{x.ranking}}</li>
            {% endfor %}
        </ul>
        <h3>Cursos</h3>
        <ul>
            {% for y in Cursos %}
                <li>{{y.nome}}({{y.descricao}}), ranking: {{y.ranking_utilidade}}</li>
            {% endfor %}
        </ul>
        <h3>Comidas</h3>
        <ul>
            {% for z in Comidas %}
                <li>{{z.nome}}({{z.descricao}}), ranking: {{z.ranking}}</li><br><img src="{{z.imagem.url}}">
                <hr>
            {% endfor %}
        </ul>
    </main>
    <style>
        main{
            padding: 20px;
        }
        img{
            width: 300px;
            height: 150px;
            border-radius: 10px;
        }
    </style>
{% endblock %}